.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 500px;
}

.child{
    background-color: #ff040408;
    width: 30%;
    align-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 20px;
}

.child input{
    display: flex;
    margin-bottom: 20px;
    font-size: 40px;
}

.child input::placeholder{
    font-size: 20px;
}

.child span{
    text-align: center;
    font-size: 25px;
}